<div *ngIf="employeeData.length == 0">Loading...</div>
<div *ngIf="employeeData.length > 0">
  <div class="table-content">
      <div class="row col add-button">
        <p-button (click)="navigateToAddForm()">Add employee</p-button>
      </div>
      <div class="row col">
          <p-table [value]="employeeData" [scrollable]="true" scrollHeight="400px">
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="name" >Name<p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="jobTitle">Job title<p-sortIcon field="jobTitle"></p-sortIcon></th>
                <th pSortableColumn="tenure">Tenure<p-sortIcon field="tenure"></p-sortIcon></th>
                <th pSortableColumn="gender">Gender<p-sortIcon field="gender"></p-sortIcon></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-employee>
              <tr>
                <td> {{ employee.name }} </td>
                <td> {{ employee.jobTitle }} </td>
                <td> {{ employee.tenure }} </td>
                <td> {{ employee.gender }} </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
    <div class="row">
      <div class="col">
        <p-chart type="pie" [data]="pieChartData"></p-chart>
      </div>
      <div class="col">
        <p-chart type="bar" [data]="rowChartData"></p-chart>
      </div>
    </div>
  </div>
</div>

